* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.navbar {
    width: 100%;
}

.logo {
    width: 100%;
    height: 50px;
    border: 0px solid;
    display: flex;
    justify-content: space-between;
    background-color: #4d636f;
}

.all-nav {
    display: flex;
}

.button {
    width: 140px;
    height: 50px;
    border: 0px;
    background-color: #3a4b53;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
}


.color {
    color: white;
}

.color:hover {
    background-color: white;
    color: black;
}


.logo-text {
    color: white;
}

.lan {
    width: 60px;
    height: 50px;
    background-color: #4d636f;
    color: white;
    border: 0px;
    cursor: pointer;

}

.lan:hover {
    color: white;
    background-color: black;
}


.log-in {
    width: 60px;
    height: 50px;
    background-color: #4d636f;
    border-radius: 5px;
    color: white;
    border: 0px;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.log-in:hover {
    background-color: white;
    color: black;
}

/* navbar over */
.profile {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.all-profile{
    width: 98%;
    margin: auto;
}

.left-center-right{
    display: flex;
    justify-content: space-between;
}

.my-detail {
   
    margin-top: 19px;
   
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    

}


.my-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.photo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.job {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.job-icon {
    margin-left: 10px;
}

/* profile over */
.events{
    width: 270px;
    height: 150px;
    margin-top: 20px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.event-prop{
   width: 270px;
   height: 50px;
   padding: 15px;
   color: white;
    background-color: #4d636f;
    height: 50px;
}

.event-prop:hover{
    background-color: aliceblue;
    color: black;
}
.icons{
    width: 200px;
    
}

.span-text{
    margin-left: 20px;
}

/* event over */

.intrest{
    width: 270px;
    height: 150px;
    margin-top: 20px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.rest{
   
   padding: 15px;  
   
}
.name-button{
    padding: 15px;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.names{
   border: 0px;
    background-color: #3a4b53;
    color: white;
    padding: 2px;
    cursor: pointer;
}
.names:hover{
    background-color: white;
    color: black;
    border: 1px solid;

}
/* Interest over */


.hey{
    width: 270px;
    height: 140px;
    margin-top: 20px;
    background-color: #ccc;
    position: relative;
}
.hey-notifi{
    width: 100%;
}

.text-hey{
    padding: 15px;

}


.close{
    width: 40px;
    height: 40px;
    font-weight: bolder;
    background-color: #becbd2;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.close:hover{
    background-color: #d1d8db;
}
.hey-para{
    padding: 10px;
    
}

/* left over */

.all-social{
    width: 700px;
    height: 160px;
    display: flex;
    flex-direction: column;
    border: 1px solid;
    margin-top: 19px;
}

.post{
    padding: 15PX;
}
.text-size{
    width: 665px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
}

.post-but{
    margin-top: 20px;
    width: 75px;
    height: 40px;
}



.john{
    width: 700px;
    height: 500px;
    border: 1px solid;
}



.jane{
    width: 700px;
    height: 200px;
    border: 1px solid;
}





/* center over  */

.upcoming{
    width: 300px;
    height: 500px;
    border: 1px solid;
}

.request{
    width: 300px;
    height: 350px;
    border: 1px solid;
}
