* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    width: 100%;
}

.logo {
    width: 100%;
    height: 50px;
   
    display: flex;
    justify-content: space-between;
    background-color: #4d636f;
}

.all-nav {
    display: flex;
}

.button {
    width: 140px;
    height: 50px;
    border: 0px;
    background-color: #3a4b53;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    cursor: pointer;
}

.button:hover {
    background-color: black;
}


.color {
    color: white;
}

.color:hover {
    background-color: white;
    color: black;
}


.logo-text {
    color: white;
}

.lan {
    width: 60px;
    height: 50px;
    background-color: #4d636f;
    color: white;
    border: 0px;
    cursor: pointer;

}

.lan:hover {
    color: white;
    background-color: black;
}


.log-in {
    width: 60px;
    height: 50px;
    background-color: #4d636f;
    border-radius: 1px;
    color: white;
    border: 0px;
    margin-right: 10px;
    font-size: 25px;
    cursor: pointer;
}

.log-in:hover {
    background-color: white;
    color: black;
}

/* navbar over */
.profile {
    width: 100%;
    font-family: "Open Sans", sans-serif;
}

.all-profile{
    width: 98%;
    margin: auto;
}

.left-center-right{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.my-detail {
   
    margin-top: 19px;
   
    width: 270px;
    height: 330px;
    display: flex;
    flex-direction: column;
    font-weight: lighter;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    

}


.my-text {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.photo {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}

.job {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.job-icon {
    margin-left: 10px;
}

/* profile over */
.events{
    width: 270px;
    height: 150px;
    margin-top: 20px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}

.event-prop{
   width: 270px;
   height: 50px;
   padding: 15px;
   color: white;
    background-color: #4d636f;
    height: 50px;
}

.event-prop:hover{
    background-color: aliceblue;
    color: black;
}
.icons{
    width: 200px;
    
}

.span-text{
    margin-left: 20px;
}

/* event over */

.intrest{
    width: 270px;
    height: 150px;
    margin-top: 20px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;

}
.rest{
   
   padding: 15px;  
   
}
.name-button{
    padding: 15px;
    letter-spacing: 3px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.names{
   border: 0px;
    background-color: #3a4b53;
    color: white;
    padding: 2px;
    cursor: pointer;
}
.names:hover{
    background-color: white;
    color: black;
    border: 1px solid;

}
/* Interest over */


.hey{
    width: 270px;
    height: 140px;
    margin-top: 20px;
    background-color: #ccc;
    position: relative;
}
.hey-notifi{
    width: 100%;
}

.text-hey{
    padding: 15px;

}


.close{
    width: 40px;
    height: 40px;
    font-weight: bolder;
    background-color: #becbd2;
    border: 0px;
    position: absolute;
    top: 0px;
    right: 0px;
    cursor: pointer;
}

.close:hover{
    background-color: #d1d8db;
}
.hey-para{
    padding: 10px;
    
}

/* left over */

.center{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}

.all-social{
    width: 700px;
    height: 160px;
    display: flex;
    /* flex-direction: column; */
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.post{
    padding: 15PX;
}
.text-size{
    width: 665px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
}

.post-but{
    margin-top: 20px;
    width: 75px;
    height: 40px;
    background-color: #4d636f;
    color: white;
    cursor: pointer;
    border: 0px;
}
.post-but:hover{
    color: black;
    background-color: #d1d8db;
}



.john{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 700px;
    height: auto;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 20px;
    
}
.all-side{
    width: 100%;

}

.all1{
    width: 95%;
    margin: auto;
   
}
.john-doe{
    display: flex;
    align-items: center;
        flex-wrap: wrap;

}
.img-john{
    width: 70px;
    height: 70px;
}
.paragraph{
    margin-top: 30px;
}

.nature{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
        

    
}
.card{
    width: 300px;
    height: 250px;
}

.buttons{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
    flex-wrap: wrap;
    gap: 5px;
}

.like{
    width: 80px;
    height: 40px;
    background-color: #57707d;
    color: white;
    cursor: pointer;
    border: 0px;
}
.comment{
    width: 110px;
    height: 40px;
    background-color: #57707d;
    color: white;
    cursor: pointer;
    border: 0px;
}

.like:hover{
    background-color: #becbd2;
    color: black;
}
.comment:hover{
    background-color: #becbd2;
    color: black;
}

.jane{
    width: 700px;
    height: auto;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 20px;
    
}
.jane-doe1{
    width: 100%;
}

.jane-data{
    width: 95%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.jane-profile{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.jane-img{
    width: 70px;
    height: 70px;
}
.jane-paragraph{
    margin-top: 20px;
}

.john1{
  
    width: 700px;
    height: auto;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-bottom: 20px;
}
.john-doe1{
    width: 100%;
}

.john-data{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 95%;
    margin: auto;
}
.john-profile{
    display: flex;
    align-items: center;
        

}
.john-img{
    width: 70px;
    height: 70px;
}
.qus{
    margin-top: 30px;

}
.nature1{
    width: 665px;
    margin-top: 10px;
}
.para-three{
    margin-top: 20px;
}



/* center over  */



.upcoming{
    width: 300px;
    height: 350px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 20px;
}

.up-event{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
        flex-wrap: wrap;

}
.upcoming-text{
    margin-top: 20px;
}

.forest{
    width: 200px;
    height: 20opx;
    
}
.info{
    width: 200px;
    height: 40px;
    background-color: #57707d;
    color: white;
    cursor: pointer;
    border: 0px;
}
.info:hover{
    background-color: #ccc;
    color: black;
}


.request{
    width: 300px;
    height: 270px;
       box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    margin-top: 20px;
}

.all-request{
display: flex;
flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.friend-request{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
        flex-wrap: wrap;
 
}

.friend-text{
    margin-top: 20px;
}

.ava{
    width: 100px;
    height: 100px;
}
.accept1{
    padding: 15px;
}
.tick{
    width: 90px;
    height: 40px;
    background-color: #4CAF50;
    color: white;
    border: 0px;
    cursor: pointer;
}
.close-me{
    width: 90px;
    height: 40px;
    background-color: #f44336;
    color: white;
    border: 0px;
    cursor: pointer;
}
.tick:hover{
    background-color: #ccc;
    color: black;
}
.close-me:hover{
    background-color: #ccc;
    color: black;
}

.bottom{
    width: 100%;
    height: 80px;
    border: 1px solid;
    background-color: #435761;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    color: white;
    font-family: "Open Sans", sans-serif;
}


@media (max-width:1013px) {
    .my-detail {
    width: 750px;
}
.events{
    width: 750px;
}

.event-prop{
   width: 750px;
   
}

.intrest{
    width: 750px;
}

.hey{
    width: 750px;

}





     .left-center-right{
         
          justify-content: center;
    }
     .center{
        justify-content: center;
    }
}






@media (max-width:768px) {

    .my-detail {
    width: 600px;
}
.events{
    width: 600px;
}

.event-prop{
   width: 600px;
   
}

.intrest{
    width: 600px;
}

.hey{
    width: 600px;

}


    .left-center-right{
          align-items: center;
          justify-content: center;
    }
  .all-social{
    width: 600px;
  }

  .text-size{
    width: 550px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
}
    .john{
    
    width: 600px;
  justify-content: center;
    
}
.jane{
    width: 600px;
   
      
}

.john1{
  
    width: 600px;
    
}

.nature1{
    width: 480px;
}

.img-nature{
    display: flex;
    justify-content: center;
}

   
    
}

@media (max-width:620px) {

    .my-detail {
    width: 450px;
}
.events{
    width: 450px;
}

.event-prop{
   width: 450px;
   
}

.intrest{
    width: 450px;
}

.hey{
    width: 450px;

}
     .all-social{
    width: 450px;
  }

  .text-size{
    width: 400px;
    height: 40px;
    margin-top: 10px;
    font-size: 18px;
}
    .john{
    
    width: 450px;
  justify-content: center;
    
}
.jane{
    width: 450px;
    
      
}

.john1{
  
    width: 450px;
    
}

.nature1{
    width: 380px;
}

.img-nature{
    display: flex;
    justify-content: center;
}

    
}

@media (max-width:500px) {
    .my-detail {
    width: 370px;
}
.events{
    width: 370px;
}

.event-prop{
   width: 370px;
   
}

.intrest{
    width: 370px;
}

.hey{
    width: 370px;

}
     .all-social{
    width: 370px;
  }

  .text-size{
    width: 320px;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
}
    .john{
    
    width: 370px;
  justify-content: center;
    
}
.jane{
    width: 370px;
    
      
}

.john1{
  
    width: 370px;
    
}

.nature1{
    width: 310px;
}

.img-nature{
    display: flex;
    justify-content: center;
}

.lan {
    
    display: none;

}

    
}

@media (max-width:400px) {
    .my-detail {
    width: 310px;
}
.events{
    width: 310px;
}

.event-prop{
   width: 310px;
   
}

.intrest{
    width: 310px;
}

.hey{
    width: 310px;

}

     .all-social{
    width: 310px;
  }

  .card{
    width: 270px;
    height: 250px;
}

  .text-size{
    width: 270px;
    height: 40px;
    margin-top: 10px;
    font-size: 12px;
}
    .john{
    
    width: 310px;
  justify-content: center;
    
}
.jane{
    width: 310px;
    
      
}

.john1{
  
    width: 310px;
    
}

.nature1{
    width: 250px;
}

.img-nature{
    display: flex;
    justify-content: center;
}

.lan {
    
    display: none;

}

    
}




@media (min-width:920px) {

     .left-center-right{
        gap: 22px;
         
          justify-content: center;
    }
     .center{
        justify-content: center;
    }
}
@media (max-width:600px) {
    
}



 